testSpace/oracle/union/v1/content/wsdl/DeleteDocRev_1.0.0.wsdl

<?xml version='1.0' encoding='utf-8' ?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:s0="http://www.stellent.com/DeleteDocRev/"
	targetNamespace="http://www.stellent.com/DeleteDocRev/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.stellent.com/DeleteDocRev/">
			<s:element name="DeleteDocRev">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DeleteDocRev" type="s0:DeleteDocRev" />
						<s:element minOccurs="0" maxOccurs="1" name="extraProps" type="s0:IdcPropertyList" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeleteDocRevResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DeleteDocRevResult" type="s0:DeleteDocRevResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="DeleteDocRevResult">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="StatusInfo" type="s0:StatusInfo" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="DeleteDocRev">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="dID" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="StatusInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="statusMessage" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="IdcPropertyList">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="property" type="s0:IdcProperty" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="IdcProperty">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</types>
	<message name="DeleteDocRevSoapIn">
		<part name="parameters" element="s0:DeleteDocRev" />
	</message>
	<message name="DeleteDocRevSoapOut">
		<part name="parameters" element="s0:DeleteDocRevResponse" />
	</message>
	<portType name="DeleteDocRevSoap">
		<operation name="DeleteDocRev">
			<input message="s0:DeleteDocRevSoapIn" />
			<output message="s0:DeleteDocRevSoapOut" />
		</operation>
	</portType>
	<binding name="DeleteDocRevSoap" type="s0:DeleteDocRevSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="DeleteDocRev">
			<soap:operation soapAction="http://www.stellent.com/DeleteDocRev/" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="DeleteDocRev">
		<port name="DeleteDocRevSoap" binding="s0:DeleteDocRevSoap">
			<soap:address location="http://kbp-ivp-as.assecosk.local:16200/_dav/cs/idcplg" />
		</port>
	</service>
</definitions>
