testSpace/oracle/union/v1/content/wsdl/MediformService_2.4.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MediformService"
                  targetNamespace="http://xmlns.oracle.com/MediformService/MediformServiceComposite/MediformServiceMediator"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://xmlns.oracle.com/MediformService/MediformServiceComposite/MediformServiceMediator"
                  xmlns:mdfs="http://xmlns.oracle.com/MediformService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/MediformService"
                        schemaLocation="../xsd/MediformService_2.4.0.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="isPayerActiveRequestMessage">
        <wsdl:part name="request" element="mdfs:isPayerActiveRequest"/>
    </wsdl:message>
    <wsdl:message name="isPayerActiveResponseMessage">
        <wsdl:part name="response" element="mdfs:isPayerActiveResponse"/>
    </wsdl:message>

    <wsdl:message name="processMonthlyReportRequestMessage">
        <wsdl:part name="request" element="mdfs:processMonthlyReportRequest"/>
    </wsdl:message>
    <wsdl:message name="processMonthlyReportResponseMessage">
        <wsdl:part name="response" element="mdfs:processMonthlyReportResponse"/>
    </wsdl:message>

    <wsdl:message name="isMonthlyReportProcessedRequestMessage">
        <wsdl:part name="request" element="mdfs:isMonthlyReportProcessedRequest"/>
    </wsdl:message>
    <wsdl:message name="isMonthlyReportProcessedResponseMessage">
        <wsdl:part name="response" element="mdfs:isMonthlyReportProcessedResponse"/>
    </wsdl:message>

    <wsdl:portType name="MediformServicePortType">
        <wsdl:operation name="isPayerActive">
            <wsdl:input message="tns:isPayerActiveRequestMessage"/>
            <wsdl:output message="tns:isPayerActiveResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="processMonthlyReport">
            <wsdl:input message="tns:processMonthlyReportRequestMessage"/>
            <wsdl:output message="tns:processMonthlyReportResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="isMonthlyReportProcessed">
            <wsdl:input message="tns:isMonthlyReportProcessedRequestMessage"/>
            <wsdl:output message="tns:isMonthlyReportProcessedResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="MediformServiceBinding" type="tns:MediformServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="isPayerActive">
            <soap:operation style="document" soapAction="isPayerActive"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processMonthlyReport">
            <soap:operation style="document" soapAction="processMonthlyReport"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isMonthlyReportProcessed">
            <soap:operation style="document" soapAction="isMonthlyReportProcessed"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
 
    <wsdl:service name="MediformMediator_ep">
        <wsdl:port name="MediformServicePort" binding="tns:MediformServiceBinding">
            <soap:address location="http://172.24.98.100:7011/soa-infra/services/default/MediformMockComposite/MediformService_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
