testSpace/oracle/union/v1/content/wsdl/OrderService_1.2.0.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="OrderService"
             targetNamespace="http://xmlns.oracle.com/OrderService"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.oracle.com/OrderService"
             xmlns:rfo="http://xmlns.oracle.com/InvoiceLiquidation/InvoiceLiquidationComposite/RezFA_OBJ"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/OrderService" elementFormDefault="qualified">
                
            <xsd:import namespace="http://xmlns.oracle.com/InvoiceLiquidation/InvoiceLiquidationComposite/RezFA_OBJ" schemaLocation="../xsd/RezFA_OBJ_1.3.0.xsd"/>

            <xsd:element name="generatePdfRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="orderData" type="rfo:OrderData" minOccurs="1"/>
				<xsd:element name="orderMetaData" type="rfo:OrderMetaData" minOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>	    
	  </xsd:element>
            <xsd:element name="generatePdfResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                        <xsd:element name="detail" type="xsd:string"/>
                        <xsd:element name="documentContent" type="xsd:base64Binary"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="generatePdfRequestMessage">
        <wsdl:part name="request" element="tns:generatePdfRequest"/>
    </wsdl:message>
    <wsdl:message name="generatePdfResponseMessage">
        <wsdl:part name="response" element="tns:generatePdfResponse"/>
    </wsdl:message>

    <wsdl:portType name="MediformServicePortType">
        <wsdl:operation name="generatePdf">
            <wsdl:input message="tns:generatePdfRequestMessage"/>
            <wsdl:output message="tns:generatePdfResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrderWebServicePortBinding" type="tns:MediformServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="generatePdf">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OrderWebService">
        <wsdl:port name="OrderWebServicePort" binding="tns:OrderWebServicePortBinding">
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
