testSpace/oracle/union/v1/content/wsdl/RezFA_OBJ_1.3.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
        targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/RezFA_OBJ"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/RezFA_OBJ"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns6="http://xmlns.oracle.com/InvoiceLiquidation/InvoiceLiquidationComposite/RezFA_OBJ"
        >

    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/RezFA_OBJ">
            <xsd:import namespace="http://xmlns.oracle.com/InvoiceLiquidation/InvoiceLiquidationComposite/RezFA_OBJ"
                        schemaLocation="../xsd/RezFA_OBJ_1.3.0.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="requestMessage">
        <wsdl:part name="parameters" element="tns6:ProcessOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="responseMessage">
        <wsdl:part name="parameters" element="tns6:ProcessOrderResponse"/>
    </wsdl:message>

    <wsdl:portType name="RezFA_OBJPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RezFA_OBJPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:responseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <plnk:partnerLinkType name="RezFA_OBJPortTypePartnerLinkType">
        <plnk:role name="RezFA_OBJPortTypeProvider">
            <plnk:portType name="tns:RezFA_OBJPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>

    <wsp:Policy 
            xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
            wsu:Id="wsaddr_policy" 
            xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
       <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    </wsp:Policy>    

    <wsdl:binding name="RezFA_OBJBinding" type="tns:RezFA_OBJPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy" wsdl:required="false"/>
        <wsdl:operation name="start">
            <wsdlsoap:operation style="document" soapAction="start"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RezFA_OBJPortTypeCallBackBinding" type="tns:RezFA_OBJPortTypeCallBack">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="end">
            <wsdlsoap:operation style="document" soapAction="end"/>
            <wsdl:input>
                <wsdlsoap:body use="literal" namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/RezFA_OBJ"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="RezFA_OBJInterface">
        <wsdl:port name="RezFA_OBJPort" binding="tns:RezFA_OBJBinding">
            <wsdlsoap:address location="http://172.24.98.100:7011/soa-infra/services/default/RezFA_OBJComposite/RezFA_OBJInterface"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>


