testSpace/oracle/union/v1/content/wsdl/ROF_read_order_list_by_supplier_alt0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="read_order_list_by_supplier_alt" targetNamespace="http://www.union.sk/read_order_list_by_supplier_alt/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.union.sk/read_order_list_by_supplier_alt/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.union.sk/read_order_list_by_supplier_alt/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.union.sk/read_order_list_by_supplier_alt/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Operation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="OperationRequest">
    <WL5G3N0:part element="WL5G3N1:Operation" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="OperationResponse">
    <WL5G3N0:part element="WL5G3N1:OperationResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="read_order_list_by_supplier_alt">
    <WL5G3N0:operation name="Operation">
      <WL5G3N0:input message="WL5G3N1:OperationRequest"/>
      <WL5G3N0:output message="WL5G3N1:OperationResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="read_order_list_by_supplier_altSOAP" type="WL5G3N1:read_order_list_by_supplier_alt">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="Operation">
      <WL5G3N2:operation soapAction="http://www.union.sk/read_order_list_by_supplier_alt/Operation"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="read_order_list_by_supplier_alt">
    <WL5G3N0:port binding="WL5G3N1:read_order_list_by_supplier_altSOAP" name="read_order_list_by_supplier_altSOAP">
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>