testSpace/oracle/union/v1/content/wsdl/UpdateDocumentInformationProcess_1.1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UpdateDocumentInformationProcess"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://xmlns.oracle.com/DocumentCollector/DocumentCollectorComposite/UpdateDocumentInformationProcess"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:client="http://xmlns.oracle.com/DocumentCollector/DocumentCollectorComposite/UpdateDocumentInformationProcess"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

        <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
        </wsp:Policy>

	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xmlns.oracle.com/DocumentCollector/DocumentCollectorComposite/UpdateDocumentInformationProcess" schemaLocation="../xsd/UpdateDocumentInformationProcess_1.1.0.xsd" />
		</schema>
	</wsdl:types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->      
	<wsdl:message name="UpdateDocumentInformationProcessRequestMessage">
		<wsdl:part name="payload" element="client:UpdateDocInfoProcessRequest" />
	</wsdl:message>

	<wsdl:message name="UpdateDocumentInformationProcessResponseMessage">
		<wsdl:part name="payload" element="client:UpdateDocInfoProcessResponse" />
	</wsdl:message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the UpdateDocumentInformationProcess BPEL process -->
	<wsdl:portType name="UpdateDocumentInformationProcess">
		<wsdl:operation name="process">
			<wsdl:input message="client:UpdateDocumentInformationProcessRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- portType implemented by the requester of UpdateDocumentInformationProcess BPEL process
	for asynchronous callback purposes
	-->
	<wsdl:portType name="UpdateDocumentInformationProcessCallback">
		<wsdl:operation name="processResponse">
			<wsdl:input message="client:UpdateDocumentInformationProcessResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the UpdateDocumentInformationProcess partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="UpdateDocumentInformationProcess">
		<plnk:role name="UpdateDocumentInformationProcessProvider" portType="client:UpdateDocumentInformationProcess"/>
		<plnk:role name="UpdateDocumentInformationProcessRequester" portType="client:UpdateDocumentInformationProcessCallback"/>
	</plnk:partnerLinkType>

        <wsdl:binding name="UpdateDocumentInformationProcessBinding" type="client:UpdateDocumentInformationProcess">
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
          <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy" wsdl:required="false"/>
            <wsdl:operation name="process">
                <soap:operation style="document" soapAction="process"/>
                <wsdl:input>
                    <soap:body use="literal"/>
                </wsdl:input>
            </wsdl:operation>
        </wsdl:binding>
        <wsdl:binding name="UpdateDocumentInformationProcessCallbackBinding" type="client:UpdateDocumentInformationProcessCallback">
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
            <wsdl:operation name="processResponse">
                <soap:operation style="document" soapAction="processResponse"/>
                <wsdl:input>
                    <soap:body use="literal" namespace="http://xmlns.oracle.com/DocumentCollector/DocumentCollectorComposite/UpdateDocumentInformationProcess"/>
                </wsdl:input>
            </wsdl:operation>
        </wsdl:binding>
        <wsdl:service name="updatedocumentinformationprocess_client_ep">
            <wsdl:port name="UpdateDocumentInformationProcess_pt" binding="client:UpdateDocumentInformationProcessBinding">
            </wsdl:port>
        </wsdl:service>
</wsdl:definitions>

