testSpace/oracle/union/v1/content/wsdl/UpdateReferencesDMSProcess_1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/UpdateReferencesMDSProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/AttachmentModule/MainDocInputArgs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/UpdateReferencesMDSProcess" xmlns:tns7="http://xmlns.oracle.com/bpm/bpmobject/AttachmentModule/AttachmentList" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
    <plnk:partnerLinkType name="UpdateReferencesMDSProcessPortTypePartnerLinkType">
        <plnk:role name="UpdateReferencesMDSProcessPortTypeProvider">
            <plnk:portType name="tns:UpdateReferencesMDSProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
       <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/UpdateReferencesMDSProcess">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/AttachmentModule/MainDocInputArgs" schemaLocation="../xsd/MainDocInputArgs_1.0.0.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/AttachmentModule/AttachmentList" schemaLocation="../xsd/AttachmentList_1.0.0.xsd"/>
            <xsd:element name="startUpdateDMSReferences">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:MainDocInputArgs"/>
                        <xsd:element ref="tns7:AttachmentList"/>
                        <xsd:element name="dmsSecurityGroup" type="xsd:string"/>
                        <xsd:element name="mainProcessName" type="xsd:string"/>
                        <xsd:element name="mainProcessVersion" type="xsd:string"/>
                        <xsd:element name="mainProcessCompositeInstanceId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="startUpdateDMSReferences">
        <wsdl:part name="parameters" element="tns:startUpdateDMSReferences"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="UpdateReferencesMDSProcessPortType">
        <wsdl:operation name="startUpdateDMSReferences">
            <wsdl:input message="tns:startUpdateDMSReferences"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="UpdateReferencesMDSProcessPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpdateReferencesMDSProcessBinding" type="tns:UpdateReferencesMDSProcessPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy" wsdl:required="false"/>
        <wsdl:operation name="startUpdateDMSReferences">
            <wsdlsoap:operation style="document" soapAction="startUpdateDMSReferences"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UpdateReferencesMDSProcessPortTypeCallBackBinding" type="tns:UpdateReferencesMDSProcessPortTypeCallBack">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="end">
            <wsdlsoap:operation style="document" soapAction="end"/>
            <wsdl:input>
                <wsdlsoap:body use="literal" namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/UpdateReferencesMDSProcess"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpdateReferencesMDSProcess.service">
        <wsdl:port name="UpdateReferencesMDSProcessPort" binding="tns:UpdateReferencesMDSProcessBinding">
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
