testSpace/oracle/union/v1/content/xsd/AttachmentList_1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.2.22" build="2.22" fullName="AttachmentModule.AttachmentList" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/AttachmentModule/AttachmentList" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns1="http://xmlns.oracle.com/bpel/workflow/task"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/AttachmentModule/AttachmentList"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpel/workflow/task" schemaLocation="oramds:/soa/shared/workflow/WorkflowTask.xsd"/>
    <xs:complexType name="AttachmentListType">
        <xs:sequence>
            <xs:element name="attachment" nillable="true" type="ns1:attachmentType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AttachmentList" type="AttachmentListType"/>
</xs:schema>
