testSpace/oracle/union/v1/content/xsd/MainDocInputArgs_1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.2.22" build="2.22" fullName="AttachmentModule.MainDocInputArgs" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/AttachmentModule/MainDocInputArgs" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/AttachmentModule/MainDocInputArgs"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="MainDocInputArgsType">
        <xs:sequence>
            <xs:element name="id" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MainDocInputArgs" type="MainDocInputArgsType"/>
</xs:schema>
