testSpace/oracle/union/v1/content/xsd/MediformService_2.4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        xmlns:tns="http://xmlns.oracle.com/MediformService"
        targetNamespace="http://xmlns.oracle.com/MediformService"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:con="http://xmlns.oracle.com/CommonProcess/CommonProcessComposite/CommonObjects"
        >

    <import schemaLocation="./CommonObjects_1.4.0.xsd" namespace="http://xmlns.oracle.com/CommonProcess/CommonProcessComposite/CommonObjects"/>

    <complexType name="isPayerActiveRequestType">
        <sequence>
            <element name="docMetaData" type="con:DocumentMetaDataType"/>
            <element name="xmlFile" type="con:FileType"/>
            <element name="pdfFile" type="con:FileType"/>
            <element name="docContent" type="con:DocumentContentType"/>
        </sequence>
    </complexType>
    <element name="isPayerActiveRequest" type="tns:isPayerActiveRequestType"/>

    <complexType name="isPayerActiveResponseType">
        <sequence>
            <element name="isActive" type="boolean"/>
        </sequence>
    </complexType>
    <element name="isPayerActiveResponse" type="tns:isPayerActiveResponseType"/>

    <complexType name="processMonthlyReportRequestType">
        <sequence>
            <element name="docMetaData" type="con:DocumentMetaDataType"/>
            <element name="xmlFile" type="con:FileType"/>
            <element name="pdfFile" type="con:FileType"/>
            <element name="docContent" type="con:DocumentContentType"/>
        </sequence>
    </complexType>
    <element name="processMonthlyReportRequest"
             type="tns:processMonthlyReportRequestType"/>

    <complexType name="processMonthlyReportResponseType">
        <sequence>
            <element name="result" type="string"/>
            <element name="detail" type="string"/>
            <element name="recordId" type="string"/>
        </sequence>
    </complexType>
    <element name="processMonthlyReportResponse"
             type="tns:processMonthlyReportResponseType"/>

    <complexType name="isMonthlyReportProcessedRequestType">
        <sequence>
            <element name="recordId" type="string"/>
        </sequence>
    </complexType>
    <element name="isMonthlyReportProcessedRequest"
             type="tns:isMonthlyReportProcessedRequestType"/>

    <complexType name="isMonthlyReportProcessedResponseType">
        <sequence>
            <element name="result" type="string"/>
            <element name="detail" type="string"/>
        </sequence>
    </complexType>
    <element name="isMonthlyReportProcessedResponse"
             type="tns:isMonthlyReportProcessedResponseType"/>

</schema>
