testSpace/oracle/union/v1/content/xsd/WCCRemovedAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.2.22" build="2.22" fullName="Attachments.WCCRemovedAttachment" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Attachments/WCCRemovedAttachment" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Attachments/WCCRemovedAttachment"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="WCCRemovedAttachmentType">
        <xs:sequence>
            <xs:element name="name" nillable="true" type="xs:string"/>
            <xs:element name="dID" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WCCRemovedAttachment" type="WCCRemovedAttachmentType"/>
</xs:schema>
